@import "../plugins/mixin";
.newTemplate {
    header {
    }
}
.personelLinks{
    background:linear-gradient(45deg, rgba(66,111,145,1) 0%, rgba(66,111,145,1) 18%, rgba(77,174,176,1) 83%, rgba(77,174,176,1) 100%)!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}
.containerNewPages {
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    .videoSection {
        position: relative;
        height:700px;
        width:100%;
        overflow: hidden;
        &-blur{
            width: 100%;
            height: 100%;
            background:linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.74) 100%);
            position: absolute;
            top: 0;
            z-index: 2;
            opacity: 1;
        }
        &-video{
            position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: auto;
        z-index: 1;
        height: 100%;
        width: 100%;
        object-fit: cover;
        }
        &-logo{
            width: 25rem;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
        }
        &-legend{
            width: 70%;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            color: white;
            transition: all 0.5s ease;
            h1{
                transition: all 0.5s ease;
                text-align: left;
                margin-left: 0;
                font-weight: 600;
                @include fluid-type(320px, 1440px, 22px, 28px);
                border-bottom: 1px solid white;
                padding-bottom: 2rem;
                margin-bottom: 3rem;
            }
            h3{
                transition: all 0.5s ease;
                @include fluid-type(320px, 1440px, 18px, 22px);
                font-weight: 100;
                width: 70%;
            }
        }
    }
}