$color_1: #fff;
$color_2: black;
$font_family_1: monospace;
$background_color_1: white;
$background_color_2: #292c3866;

/* Menu principal */
#navbar {
	width: 100%!important;
	height: 100px;
	position: fixed;
	z-index: 3;
	display: flex;
	justify-content: space-between;
    align-items: center;
    align-content: center;
	border-bottom: 3px solid #ffffff;
	border-radius: 3px;
	transition: all 1.3s cubic-bezier(0.57, 0, 0.2, 1);
	padding-left: 3rem;
	padding-right: 3rem;
}
#logo {
	display: flex;
	width: 150px;
	img {
		width: 150px;
		height: 100%;
	}
}
#menuprincipal {
	position: relative;
	>*{
		text-transform: capitalize;
	}
	a {
		text-decoration: none;
		color: white;
	}
	nav {
		font-family: $font_family_1;
	}
	ul {
		background: rgb(6, 6, 6);
		list-style: none;
		margin: 0;
		padding-left: 0;
		li {
			text-transform: capitalize;
			ul {
				background: transparent;
				visibility: hidden;
				opacity: 0;
				min-width: 5rem;
				position: absolute;
				transition: all 0.5s ease;
    			margin-top: 55px;
				left: 0;
				display: flex;
				margin-left: -100px;
				&:hover {
					visibility: visible;
					opacity: 1;
				}
				&:focus {
					visibility: visible;
					opacity: 1;
				}
				li {
					text-transform: capitalize;
					clear: both;
					border: 1px solid white;
					margin-right: 10px;
					width: 150px;
					height: 10px;
					text-align: center;
					padding-top: 15px;
				}
			}
			&:hover {
				>ul {
					visibility: visible;
					opacity: 1;
				}
			}
			&:focus-within {
				>ul {
					visibility: visible;
					opacity: 1;
				}
			}
			.material-icons{
				font-size: unset;
			}
		}

	}
	li {
		// color: $color_1;
		background: transparent;
		display: block;
		float: left;
		padding: 2.3rem 1rem;
		position: relative;
		text-decoration: none;

		a {
			color: $color_1;
		}
		&:hover {
			background-color: $background_color_1;
			cursor: pointer;
				color: black;
			a {
				color: $color_2;
			}
		}


		&:focus-within {
			background-color: $background_color_1;
			cursor: pointer;
			color: $color_2;
			a {
				outline: none;
			}
		}
	}
}
.socialIcons{
	display: flex;
	justify-content: space-around;
	align-items: center;
    align-content: center;
	img{
		margin-right: 10px;
		width: 20px;
	}
	a{
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
	i{
		color: white;
		margin-right: 10px;
		font-size: 1.7rem;
	}
}
.dropdown{
		li{
			color: white !important;
			a{
				color: white !important ;
				font-size: 4em;
			}
			&:hover a{
				color: black !important;
			}
			&:hover{
				background-color: transparent !important;
				color: black !important;
			}
		}

}

.scrolled {
	height: 80px !important;
	background-color: rgba(0, 0, 0, 0.6);
	margin-top: -15px;
}


.dropdown li:before {
	content: '';
	background: rgb(255, 255, 255);
	position: absolute;
	width: 0%;
	top: 0;
	left: 0;
	height: 100%;
	transition: 0.3s linear;
	z-index: -1;
  }
  .dropdown li:hover:before {
	width: 100%;
  }


/* Reponsive */ 
/* 
@media screen and (max-width: 1360px) {
	#navbar{
		width: 80%;
	}
	#menuprincipal{
		margin-left: 30%;
	}


}

@media (min-width: 1100px) and (max-width: 1360px) {
	#menuprincipal ul li{
		margin-top: 0px;
	}
	#menuprincipal ul li ul{
		margin-left: -400px;
	}
    

}

@media (min-width:820px) and (max-width: 1099px) {
	#navbar{
		width: 100%;
	}
	#menuprincipal ul li ul{
		margin-left: -600px;
	}

}


@media (min-width:820px) and (max-width: 971px) {
	#menuprincipal ul li ul{
		margin-left: -450px;
	}
	#menuprincipal ul li ul li{
		width: 120px;
	}

	.dropdown li a{
		font-size: 0.6em !important;
	}
} */

.normal{
	margin-left: 0px !important;
}
@media (min-width: 768px) and (max-width: 1650px) {
	#menuprincipal ul li ul{
		top: 87%;
    left: 10rem;
    transform: translate(-50%, -50%);
	}
  }
  @media (min-width: 768px) and (max-width: 1020px) {
	#navbar{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	#menuprincipal li{
		padding: 2.3rem 10px;
	}
	
  }
  .scrolled{
	  .normalElements{
		  .linkNormal{
			text-transform: capitalize!important;
			padding-bottom: 24px!important;
		  }
	  }
  }

  #menu{
	  .contentMenuMobile{
		  height: 40px;
		  width: 40px;
		  background-color: red;
		  cursor: pointer;
	  }
  }