.ventajasCompetitivas {
    height: auto;
    min-height: 110vh;
    width: 100%;
    background: url("../img/backSecction6.jpg");
    background-size: 100% 100%;
    padding-top: 3rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4rem;
    position: relative;

    .title {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        color: white;
        @include fluid-type(320px,
        1440px,
        28px,
        32px);
        margin-bottom: 5rem;

        &:before {
            content: '';
            width: 79px;
            background-color: white;
            margin-right: 10px;
            height: 20px;
        }
    }

    .sectionCarousel {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-bottom: 5rem;

        .containerText {
            display: flex;
            flex-direction: column;
            width: 40%;
            font-weight: bold;
            color: white;

            margin: {
                left: 6rem;
                right: 3rem;
                margin-bottom: 0;
                margin-top: auto;
            }

            span {
                font-weight: 100;
                margin-top: 15px;
                color: white;
            }
        }

        .containerCarousel {
            width: 60%;

            .item {
                width: 500px;
                color: white;
                position: relative;

                .number {
                    box-shadow: 19px 20px 21px 0px rgba(0, 0, 0, 0.45);
                    position: absolute;
                    background-color: #191932;
                    top: -2rem;
                    left: -2rem;
                    height: size(40);
                    width: size(40);
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    @include fluid-type(320px,
                    1440px,
                    28px,
                    34px);
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .container {
                    width: 100%;
                    border: 2rem solid white;
                    border-right: 4rem solid white;
                    padding: 0;
                    box-shadow: 25px 23px 24px 0px rgba(0, 0, 0, 0.2);

                    &_title {
                        @include fluid-type(320px,
                        1440px,
                        28px,
                        32px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        flex-direction: column;

                        padding: {
                            top: 5rem;
                            left: 6rem;
                            bottom: 5rem;
                            right: 6rem;
                        }

                        ;

                        span {
                            position: absolute;
                            background-color: #1f213e;
                            width: 250px;
                            height: 250px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            left: 87.2%;
                            bottom: 35.5%;
                            @include fluid-type(320px,
                            1440px,
                            22px,
                            22px);
                            padding-left: 7%;

                            span {
                                background-color: rgba(90, 147, 150, 0.5);
                                /* left: 0; */
                                width: 75.3%;
                                height: 30px;
                                bottom: -1.8rem;
                                left: 25%;

                                i {
                                    cursor: pointer;
                                    position: absolute;
                                    font-size: 31px;
                                    right: 0;
                                    float: right;
                                    background-color: #1f213e;
                                    width: 43px;
                                    height: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }

                        .arrows {
                            position: absolute;
                            left: 87.2%;
                            bottom: 35.5%;
                            @include fluid-type(320px,
                            1440px,
                            22px,
                            22px);
                            padding-left: 7%;
                        }
                    }

                    .contentText {
                        background-color: white;
                        padding: 0;
                    }

                    &_text {
                        @include fluid-type(320px,
                        1440px,
                        12px,
                        16px);
                        color: #666;
                        margin-bottom: 0;
                        padding: 0;
                        padding-top: 1rem;
                    }
                }
            }
        }
    }

    .sectionTabs {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        padding: 2rem;

        .slogan {
            @include fluid-type(320px,
            1440px,
            22px,
            50px);
            display: flex;
            flex-direction: column;
            color: white;
            width: 30%;
        }

        $color_1: white;
        $color_2: #1d1d1d;

        .tabs {
            position: relative;
            max-width: 900px;
            width: 65%;
        }

        .tab {
            float: left;

            label {
                margin-right: 20px;
                position: relative;
                top: 0;
                cursor: pointer;
                color: $color_1;
                text-transform: uppercase;
            }

            [type=radio] {
                display: none;
            }
        }

        .tab__content {
            position: relative;
            top: 40px;
            left: 0;
            right: 0;
            bottom: 0;
            transition: opacity .7s cubic-bezier(.42, 0, .34, 1.01);
            opacity: 0;
        }

        [type=radio] {
            &:checked {
                &~label {
                    border-bottom: 2px solid white;
                    color: $color_2;
                    background-color: white;
                    padding:{
                        left: 10px;
                        right: 10px;
                    };
                    margin-bottom: 0;
                    z-index: 2;

                    &~.tab__content {
                        z-index: 1;
                        opacity: 1;
                    }
                }
            }
        }
    }
}