/* 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
                                                    TERCERA SECCIÓN 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
*/

#seccion3 {
    width: 100%;
    height: 100vh;
    background-color: #e4e4e4;
    background-image: url("../img/fondoservicios.png");
    display: block;
}

#tituloservicios{
    height: 300px;
    width: 250px;
    -ms-transform: translateX(300px);
    transform: translate(5rem);
    position: absolute;
    left: 7%;
    text-align: left;
}

#tituloservicios h1{
    text-align: left;
    line-height: 0.9;
}

#tituloservicios h1 span{
    font-weight: 100;
}

#tituloservicios #lineaservicios{
    width: 300px;
    height: 5px;
    background-color: black;
    transform: translate(19%, 60px);
    position: absolute;
}

#sliderservicios {
    width: 70%;
    transform: translateX(300px);
}

.itemservicios {
    background-color: transparent;
    width: 250px;
    height: 350px;
    margin-right: 100px;
}

h4{
    color: white;
}




/* Cuadros items */

.cuadroitem{
    height: 70px;
    width: 70px;
    position: absolute;
}

#c_1, #c_2, #c_3, #c_4, #c_5, #c_6{
    z-index: 1;
    opacity: .8;
}

#c_1{
    background-color: red;
}

#c_2{
    background-color:  orange;
}

#c_3{
    background-color: yellow;
}

#c_4{
    background-color: green;
}

#c_5{
    background-color: blue;
}

#c_6{
    background-color: violet;
}

/* Imagen */

.imagenservicios{
    transform: translate(17px,20px);
    z-index: -1;
}


/* Responsive ------------------------------------- */
@media screen and (max-width: 1200px) {
    #tituloservicios{
        transform: translate(0%, -100%);
        left: initial;
    }

    #tituloservicios #lineaservicios {
        -ms-transform: translate(0%, 60px);
        transform: translate(0%, 60px);
    }

    #sliderservicios {
        width: 90%;
        transform: translateX(0px);
    }
    #tituloservicios h1 {
        text-align: center;
    }
}

@media (min-width: 500px) and (max-width: 660px) {

}
