/* 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
                                                        OTRA SECCIÓN 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
*/


/* Test parallax*/

.test {
    height: 100vh;
    background-color: #f0f0f0;
    margin-top: 100vh;
    display: flex;
    flex-direction: row;
}

.parallax {
    width: 50%;
    height: 50%;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: 'helvetica';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
