/* 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
                                                        SEGUNDA SECCIÓN 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
*/

#seccion2 {
    background-image: url(../img/fondoseccion2.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: block;
    -webkit-transition: all 2.3s cubic-bezier(.57, 0, .2, 1);
    -moz-transition: all 2.3s cubic-bezier(.57, 0, .2, 1);
    -ms-transition: all 2.3s cubic-bezier(.57, 0, .2, 1);
    -o-transition: all 2.3s cubic-bezier(.57, 0, .2, 1);
    transition: all 2.3s cubic-bezier(.57, 0, .2, 1);
}

.tabsempresa {
    width: 75%;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    -moz-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    -ms-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    -o-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
}

.tabsempresamostrar {
    opacity: 1;
    transform: translateX(0px);
}



#headerempresa {
    text-align: center;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

#headerempresa h1 {
    font-weight: bold;

    color: white;
    text-align: left;
    max-width: 1000px;
    padding: 50px;
    padding-bottom: 1rem;
    margin: 0;
    margin-left: 50px;
    padding-right: 0;
    padding-left: 0;
    border-bottom: 1px solid white;
    width: 250px;
    font-weight: 300;
}

#headerempresa p {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    padding-top: 1rem;
    line-height: inherit !important;
}



/*
.lineaempresa {
    height: 2px;
    width: 800px;
    background-color: white;
    margin: 0 auto;
    transition: all 1.5s cubic-bezier(.57, 0, .2, 1);
    transform: scaleX(0);
}

.abrirlinea {
    transform: scaleX(1);
}

*/


#btn_historia {
    float: left;
    text-align: center;
    font-size: 1.2em;
    background-color: #292c37;
    color: white;
    position: absolute;
    left: 0;
    width: 15%;
    height: 30%;
    line-height: 15em;
    cursor: pointer;
    z-index: 1;
    transform: translate(-400px, 0px);
    -webkit-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    -moz-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    -ms-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    -o-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
}

.btn_historia_aparecer {
    transform: translate(0px, 0px) !important;
}


#btn_historia:hover {
    background-image: url(../img/prueba.gif);
    background-position: center;
}

#btn_historia::after {
    content: url(../img/flecha_izda.png);
    width: 70px;
    height: 70px;
    padding: 20px 10px;
    position: absolute;
    top: 246px;
    right: -30px;
    background-color: #ffffff;
    color: black;
    line-height: 21px;
}


#btn_historia:hover::after {
    transform: scale(1.2);
    background-color: rgb(228, 228, 228);
}


#btn_historia span {
    top: 0;
    position: relative;
    left: 5px;
    font-size: 3vh;
    font-weight: 100;
}


#btn_estatutos {
    float: right;
    text-align: center;
    font-size: 1.2em;
    background-color: #5A9396;
    color: white;
    position: absolute;
    right: 0;
    width: 15%;
    height: 30%;
    line-height: 2em;
    cursor: pointer;
    z-index: 1;
    transform: translate(400px, 0px);
    -webkit-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    -moz-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    -ms-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    -o-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    transition: all 1.3s cubic-bezier(.57, 0, .2, 1);

}

.btn_estatutos_aparecer {
    transform: translate(0px, 0px) !important;
}

#btn_estatutos:hover {
    background-image: url(../img/prueba2.gif);
    background-position: center;
}

#btn_estatutos::after {
    content: url(../img/flecha_dcha.png);
    width: 70px;
    height: 70px;
    padding: 20px 10px;
    position: absolute;
    top: 246px;
    left: -30px;
    background-color: #ffffff;
    color: black;
    line-height: 21px;

}

#btn_estatutos:hover::after {
    transform: scale(1.2);
    background-color: rgb(228, 228, 228);
}

#btn_estatutos span {
    position: relative;
    left: 5px;
    font-size: 3vh;
    font-weight: 100;
    top: 35%;
}





/* Efecto parallax triangulos */

#triangulos {
    width: 100%;
    position: absolute;
    height: 100%;
}

#t_1 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 400px solid var(--triangulo-color);
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    transform: rotate(90deg);
    filter: blur(5px);
}

#t_2 {
    position: absolute;
    left: 30vh;
    width: 0;
    height: 0;
    border-left: 100px solid var(--triangulo-color);
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    transform: rotate(-90deg);
    filter: blur(1px);
}

#t_3 {
    right: 10px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 180px solid var(--triangulo-color);
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
    transform: rotate(90deg);
    filter: blur(1px);
}

#t_4 {
    bottom: 300px;
    left: 40vh;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 150px solid var(--triangulo-color);
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    transform: rotate(-90deg);
    filter: blur(1px);
}

#t_5 {
    bottom: 200px;
    left: 20vh;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 200px solid var(--triangulo-color);
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    transform: rotate(-90deg);
    filter: blur(0px);
}

#t_6 {
    left: 25vh;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 200px solid var(--triangulo-color);
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    transform: rotate(90deg);
    filter: blur(5px);
}

#t_7 {
    right: 20vh;
    bottom: 100px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 150px solid var(--triangulo-color);
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    transform: rotate(90deg);
    filter: blur(1px);
}

#t_8 {
    right: 0px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 400px solid var(--triangulo-color);
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    transform: rotate(-90deg);
    filter: blur(1px);
}


/* Z index de triangulos */

.triangulo {
    z-index: 0;
}

.zindex10 {
    z-index: 10;
}


/* Botones empresa */



/*  ---- Ventana historia ---- */

#ventanahistoria {
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-image: url(../img/seccion2_izda.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
}

.abierta {
    transform: translateX(0px) !important;
    opacity: 1 !important;
    visibility: visible!important;
}

#contenedor_textohistoria {
    width: 100%;
    height: 500px;
    display: block;
}

#textohistoria {
    color: white;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin-top: 300px;
}

#btn_cerrarhistoria {
    color: white;
    font-size: 1em;
    position: absolute;
    border: 1px solid white;
    color: white;
    background-color: #5a9396;
    margin-top: 350px;
    margin-left: -49px;
    border-top: none;
}

#btn_cerrarhistoria i {
    font-size: 3em;
}

#btn_cerrarhistoria:hover {
    -webkit-transition: all 0.5s cubic-bezier(.57, 0, .2, 1);
    -moz-transition: all 0.5s cubic-bezier(.57, 0, .2, 1);
    -ms-transition: all 0.5s cubic-bezier(.57, 0, .2, 1);
    -o-transition: all 0.5s cubic-bezier(.57, 0, .2, 1);
    transition: all 0.5s cubic-bezier(.57, 0, .2, 1);
    background-color: black;
    color: white;
}

#img_historia {
    position: absolute;
    width: 600px;
    z-index: -1;
    left: -300px;
    top: 100px;
    transform: translateX(-800px);
    transition: all 2.5s cubic-bezier(.57, 0, .2, 1);
}

.imagenhistoria {
    transform: translateX(0px) !important;
}

#titulohistoria {
    text-shadow: 3px 2px 4px #000;
    text-align: left;
    transform: translateX(-1000px);
    transition: all 1.9s cubic-bezier(.57, 0, .2, 1);
    opacity: 0;
    color: white;
}

.mostrartitulohistoria {
    transform: translateX(0px) !important;
    opacity: 1 !important;
}

#lineahistoria {
    width: 1px;
    height: 400px;
    background-color: white;
}
#ventanaestatutos {
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-image: url(../img/seccion2_dcha.jpg);
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(200%);
    -webkit-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    -moz-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    -ms-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    -o-transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
    transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
}
.abiertaestatutos {
    transform: translateX(0px) !important;
    opacity: 1 !important;
    visibility: visible!important;
}

#textoestatutos {
    color: white;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin-top: 400px;
}


#btn_cerrarestatutos {
    color: white;
    font-size: 1em;
    position: absolute;
    border: 1px solid white;
    color: white;
    background-color: #5a9396;
    margin-top: 350px;
    border-top: none;

}

#btn_cerrarestatutos i {
    font-size: 3em;
}

#btn_cerrarestatutos:hover {
    -webkit-transition: all 0.5s cubic-bezier(.57, 0, .2, 1);
    -moz-transition: all 0.5s cubic-bezier(.57, 0, .2, 1);
    -ms-transition: all 0.5s cubic-bezier(.57, 0, .2, 1);
    -o-transition: all 0.5s cubic-bezier(.57, 0, .2, 1);
    transition: all 0.5s cubic-bezier(.57, 0, .2, 1);
    background-color: black;
    color: white;
}

#img_estatutos {

    position: absolute;
    width: 600px;
    z-index: -1;
    right: 300px;
    top: 100px;
    transform: translateX(600px);
    transition: all 2.5s cubic-bezier(.57, 0, .2, 1);
}


#tituloestatutos {
    text-shadow: 3px 2px 4px #000;
    text-align: left;
    transform: translateX(1000px);
    transition: all 1.9s cubic-bezier(.57, 0, .2, 1);
    opacity: 0;
    color: white;
    margin-top: 200px;
}

.mostrartituloestatutos {
    transform: translateX(0px) !important;
    opacity: 1 !important;
}

#textoestatutos h2 {
    text-align: right;
}


/* Corregir */

#contenedor_tituloestatutos {
    display: none;
}



@media screen and (max-width: 1420px) {

    .tabsempresa {
        margin-top: -150px;
    }

    #btn_estatutos,
    #btn_historia {
        position: relative;
        bottom: -300px;
        width: 350px;
    }


    #btn_estatutos::after {
        top: 35%;
        left: initial;
    }

    #btn_estatutos span {
        top: 40%;
    }

    #btn_historia::after {
        top: 30%;
        right: 85%;
    }

    #btn_historia span {
        top: -15%;
    }

}

@media (min-width: 0px) and (max-width: 767px) {
    #ventanahistoria {
        background-color: #21212f !important;
        background-image: none !important;
    }

    #ventanaestatutos {
        background-color: #639699 !important;
        background-image: none !important;
    }
}
#seccion2{
    flex-direction: column;
    height: auto;
    min-height: 100vh;
}
.contenedorHistoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    position: relative;
    margin-bottom: 3rem;

    h1 {
        color: white;
        text-align: left;
        border-bottom: 1px solid white;
        padding-bottom: 1rem;
        padding-left: 0;
        margin-left: 0;
        max-width: 250px;
    }
}
.arregloBotones {
    position: relative;
    width: 100%;
    #btn_estatutos,
    #btn_historia {

        height: 250px;
        position: absolute;
        bottom: 0;
        padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    }

    #btn_historia {
        margin-top: 4rem;
        width: 300px;
        top: -15rem;
        left: 10%;
        transform: translate(-50%, -50%)!important;
        
    }
    #btn_historia::after{
        position: absolute;
        top: 16.5rem;
    left: 18rem;
        transform: translate(-50%, -50%)!important;
    }

    #btn_estatutos {
        margin-top: 4rem;
        width: 300px;
        top: -15rem;
        left: 90%;

    line-height: 1.4rem;
        transform: translate(-50%, -50%)!important;
        
    }
    #btn_estatutos::after{
        position: absolute;
        top: 16.5rem;
    left: 0rem;
        transform: translate(-50%, -50%)!important;
    }
}
@media (min-width: 720px) and (max-width: 1230px) {
    .arregloBotones{
        width: auto;
    }
    .arregloBotones #btn_estatutos{
        position: relative;
        left: 0;
        top: 0;
            transform: none!important;
    }
    .arregloBotones #btn_estatutos::after{
        top: 50%;
        left: 100%;
    }
    
    .arregloBotones #btn_historia{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5rem;
        position: relative;
        left: 0;
        top: 0;
            transform: none!important;
    }
    .arregloBotones #btn_historia::after{
        top: 50%;
        left: 0%;
    }
    .arregloBotones #btn_historia span{
        top:0;
    }
    .arregloBotones #btn_estatutos span{
        top: 0;
    }
    
  }
  @media (min-width: 0px) and (max-width: 719px) {
    #seccion2{
        padding-bottom: 5rem;
    }
    .arregloBotones{
        width: 100%;
        flex-direction: column;
        position: relative;
    }
    .arregloBotones #btn_estatutos{
        margin-top: 0;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
            transform: none!important;
    }
    .arregloBotones #btn_estatutos::after{
        top: 50%;
        left: 90%;
    }
    .arregloBotones #btn_historia{

        margin-top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        position: relative;
        left: 0;
        top: 0;
            transform: none!important;
    }
    .arregloBotones #btn_estatutos{

        margin-top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 0;
        top: 0;
            transform: none!important;
    }
    .arregloBotones #btn_historia::after{
        top: 50%;
        left: 10%;
    }
    .arregloBotones #btn_historia span{
        top:0;
    }
    .arregloBotones #btn_estatutos span{
        top: 0;
    }
    .contenedorHistoria{
        padding-left: 20px;
        padding-right: 4rem;
    }
  }