/* 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
                                                    TERCERA SECCIÓN 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------------- 
*/

#seccion3 {
    width: 100%;
    height: 100vh;
    background-color: #e4e4e4;
    background-image: url("../img/fondoservicios.jpg");
    background-size: cover;
    display: block;
}

#tituloservicios{
    height: 300px;
    width: 250px;
    -ms-transform: translateX(300px);
    transform: translate(5rem);
    position: absolute;
    left: 7%;
    text-align: left;
}

#tituloservicios h1{
    text-align: left;
    line-height: 0.9;
}

#tituloservicios h1 span{
    font-weight: 100;
}

#lineaservicios{
    width: 350px;
    height: 5px;
    background-color: black;
    transform: translate(19%, 60px);
    position: absolute;
}

#sliderservicios {
    width: 70%;
    transform: translateX(300px);
}

.itemservicios {
    background-color: transparent;
    width: 250px;
    height: 370px;
    margin-right: 100px;
}

.logoservicio{
    width: 70% !important;
    margin: 10px auto;
}

h4{
    color: white;
}




/* Cuadros items */

.cuadroitem{
    height: 70px;
    width: 70px;
    position: absolute;
}

#c_1, #c_2, #c_3, #c_4, #c_5, #c_6{
    z-index: 1;
    opacity: .8;
    cursor: pointer;
}

#c_1{

    background-color: #99283dff;
}

#c_2{
    background-color:  #397366ff;
}

#c_3{
    background-color: #d84914;

}

#c_4{
    background-color: #e3a900ff;    

}

#c_5{
    background-color: #4b7893;
}

#c_6{
    background-color: #dd397a;
}



.iconoservicio{
    position: absolute;
    height: 90%;
    width: 100%;
}


.iconoadvisor {
    &:hover {
      -webkit-filter: drop-shadow(1px 1px 15px #8f1c27);
      filter: drop-shadow(1px 1px 15px #a71d2b);
      transform: scale(1.1);
    }
  }

  .iconocapital {
    &:hover {
      -webkit-filter: drop-shadow(1px 1px 15px #2daf47);
      filter: drop-shadow(1px 1px 15px #2daf47);
      transform: scale(1.1);
    }
  }

  .iconohabitat {
    &:hover {
      -webkit-filter: drop-shadow(1px 1px 15px #d25f22);
      filter: drop-shadow(1px 1px 15px #d25f22);
      transform: scale(1.1);
    }
  }

  .iconoholding {
    &:hover {
      -webkit-filter: drop-shadow(1px 1px 15px #e6b516);
      filter: drop-shadow(1px 1px 15px #e6b516);
      transform: scale(1.1);  
    }
  }

  .iconopersonnel {
    &:hover {
      -webkit-filter: drop-shadow(1px 1px 15px #22a3d2);
      filter: drop-shadow(1px 1px 15px #22a3d2);
      transform: scale(1.1);
    }
  }


  .iconomedia {
    &:hover {
      -webkit-filter: drop-shadow(1px 1px 15px #bd2b63);
      filter: drop-shadow(1px 1px 15px #bd2b63);
      transform: scale(1.1);
    }
  }




/* Imagen */

.imagenservicios{
    transform: translate(17px,20px);
    z-index: -1;
}



#c_1::before, #c_2::before, #c_3::before, #c_4::before, #c_5::before, #c_6::before{
    content: "+";
    color: #ffffff;
    font-size: 4em;
    font-weight: 100;
    position: absolute;
    top: -10px;
    right: 18px;
}



/* Ventanas servicios */

#overlay-advisors{
    z-index: 6;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(../img/fondoservicio.jpg);
    visibility: hidden;
    opacity: 1;

}


.overlay-advisors-mostrar{
    visibility: visible !important;
    opacity: 0; 
}

#cerrar_advisors{
    font-size: 5em;
    color: white;
    cursor: pointer;
}









/* Responsive ------------------------------------- */
@media screen and (max-width: 1200px) {
    #tituloservicios{
        transform: translate(0%, -100%);
        left: initial;
    }

    #tituloservicios #lineaservicios {
        -ms-transform: translate(0%, 60px);
        transform: translate(0%, 60px);
    }

    #sliderservicios {
        width: 90%;
        transform: translateX(0px);
    }
    #tituloservicios h1 {
        text-align: center;
    }
}

@media (min-width: 500px) and (max-width: 660px) {

}
