.personel{
    height: 100%;
    width: 100%;
    background-image: url("../img/backgroundPages/contacto/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    padding-left: 2rem;
    padding-right: 2rem;
}