.templateChido {
    margin: 0;
    display: flex;
    flex-direction: column;
    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        footer {
            min-height: auto;
        }
    }
}

@import 'historia';
@import 'filosofia';
@import 'contacto';
@import 'holding';
@import 'personel';
@import 'advisors'