.templateChido {
    margin: 0;
    display: flex;
    flex-direction: column;
    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        footer {
            min-height: auto;
        }
    }
}

@import 'historia'; //Terminada
@import 'filosofia';//Terminada
@import 'contacto'; //Terminada
@import 'holding'; //Terminada
@import 'personel'; //Terminada
@import 'advisors'; //Terminada
@import 'capital';
@import 'habitat';
@import 'media'; //Terminada
