@import 'plugins/all.plugins';
@import "plugins/mixin";
@import 'main/default';
@import 'main/menuDesktop';
@import 'main/footer';
@import 'sections/section1';
@import 'sections/section2';
@import 'sections/section3';
@import 'sections/section4';
@import 'sections/section5';
@import 'sections/seccion6';
@import 'sections/seccion7';
@import 'sections/sectionExtra';
@import 'sections/newseccion3';
//Correciones Sitio Web
@import 'pages/default';
html, body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;

  max-width: 100%;
  overflow-x: hidden;
  }
@media (min-width: 0px) and (max-width: 767px) {
  footer .copyright{
    position: relative;
  }
  #seccion3 {
    flex-direction: column;
    padding-top: 4rem;
  }

  .leftAnimation {
    transform: none !important;
  }

  #tituloservicios {
    margin-top: -19rem;
    position: relative;
  }

  #seccion4 .containerText {

    transform: none !important;
    transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
  }

  .ventajasCompetitivas .sectionCarousel .containerText {
    transform: none !important;
    transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
  }

  .ventajasCompetitivas .sectionTabs .containerLogos {
    transform: translate(1200px, 0px);
    transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
  }

  .ventajasCompetitivas .sectionTabs .slogan {
    transform: none !important;
    transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
  }

  #seccion7 .title {
    transform: none !important;
    transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
  }

}

.btn_historia_aparecer,
.btn_estatutos_aparecer {
  opacity: 1 !important;
  visibility: visible !important;
}

.btnServicios{
  padding: 0;
  height: 40px;
  width: 100px;
}