@import 'plugins/all.plugins';
@import "plugins/mixin";
@import 'main/default';
@import 'main/menuDesktop';
@import 'main/footer';
@import 'sections/section1';
@import 'sections/section2';
@import 'sections/section3';
@import 'sections/section4';
@import 'sections/section5';
@import 'sections/seccion6';
@import 'sections/seccion7';
@import 'sections/sectionExtra';
//Correciones Sitio Web
@import 'pages/default.scss';

  .os-animation.animated{
      opacity: 1;
  }
  .rectFill{
    transform: scaleY(.99);
  }
.leftAnimation{
  transform: translate(0px, 0px)!important;;
}
#tituloservicios{
  transform: translate(-400px, 0px);
  transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
}
#seccion4 .containerText{
  
  transform: translate(-400px, 0px);
  transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
}
.ventajasCompetitivas .sectionCarousel .containerText{
  transform: translate(-400px, 0px);
  transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
}
.ventajasCompetitivas .sectionTabs .containerLogos{
  transform: translate(1200px, 0px);
  transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
}
.ventajasCompetitivas .sectionTabs .slogan{
  transform: translate(-400px, 0px);
  transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
}
#seccion7 .title{
  transform: translate(1200px, 0px);
  transition: all 1.3s cubic-bezier(.57, 0, .2, 1);
}