@import 'plugins/all.plugins';
@import "plugins/mixin";
@import 'main/default';
@import 'main/menuDesktop';
@import 'main/footer';
@import 'sections/section1';
@import 'sections/section2';
@import 'sections/section3';
@import 'sections/section4';
@import 'sections/section5';
@import 'sections/seccion6';
@import 'sections/seccion7';
@import 'sections/sectionExtra';
//Correciones Sitio Web
@import 'pages/default.scss';

.os-animation{
    opacity: 0;
  }
  
  .os-animation.animated{
      opacity: 1;
  }
  .rectFill{
    transform: scaleY(.99);
  }
.animatedAll{
  transform: translate(0px, 0px) !important;
}
.os-animation{

  transform: translate(-400px, 0px);
}